flask==2.2
jinja2==3.0.0
click
itsdangerous
charset_normalizer
fake-useragent
flask_babelex
flask_admin
bs4
flask_security
Werkzeug==2.2
markupsafe==2.1.1
wtforms==2.2.1
flask-ckeditor
sqlalchemy==1.4.46
flask_sqlalchemy
pyecharts

