<!DOCTYPE html>
<html>
<head>
<title>注册页面</title>
<link href="/static/account/css/style.css" rel='stylesheet' type='text/css' />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content=""/>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

</head>
<body>
	<h1>欢迎注册</h1>
		<div class="app-nature">
			<form action="/signups"  method="post">
			    <input type="text" name="user" class="text" value="user" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'user address';}" >
				<input type="text" class="text" name="email" value="email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'E-mail address';}" >
				<input type="password" value="Password" name="password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}">
				<div class="submit"><input type="submit"  value="注册" ></div>
				<div class="clear"></div>
				<div class="links">
					<p class="sign"><a href="/logins">返回登录</a></p>
					<div class="clear"></div>
				</div>
			
			</form>
		</div>
</body>
</html>